{% extends "inside_base.html" %}

{% block script %}    
    <script type="text/javascript">
        $(function() {       
            $('#save_button').button(); 
        }); 
    </script>
{% endblock script %}

{% block conteudo %}
	<form method="post" action="">
	
		{% csrf_token %}
		
		<div id="register_user">	
			<h2>Nova Editora</h2>			

			<h4>{{ form.non_field_errors }}</h4>
			<h4>{{ form.name.errors }}</h4>
			<h4>{{ registration_result }}</h4>
		
			<p>(*) Nome: {{ form.name }}</p>		
		</div>
		
		<br />
		
		<div id="div_save" class="tab_save_button">
			<input type="submit" id="save_button" value="Cadastrar" />
		</div>			
	</form>

{% endblock %}