{% extends "outside_base.html" %}

{% block conteudo %}
	<form method="post" action="">
	
		{% csrf_token %}
		
		<div id="change_password">	
			<h2>Alteração de Senha</h2>			

			<h4>{{ result }}</h4>
			<h4>{{ form.non_field_errors }}</h4>
			<h4>{{ form.new_password.errors }}</h4>
			<h4>{{ form.password_confirmation.errors }}</h4>
	
			<p>(*) Nova Senha: {{ form.new_password }}</p>
			<p>(*) Confirmação da Nova Senha: {{ form.password_confirmation }}</p>
	
			<input type="submit" value="Alterar" /><br /><br />

		</div>
		
	</form>

{% endblock %}
