{% extends "inside_base.html" %}

{% block script %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/custom/library.js"></script>
	
	<script type="text/javascript">
		$(function() {
			$('#tabs').tabs();
			$('#button_search').button(); 
			$('#button_save').button(); 

			Library.Functions.init();
		}); 
	</script>
{% endblock script %}

{% block conteudo %}
	<h2>Biblioteca do Lar de Mistrael</h2>
	
	<div id="tabs">
		<ul>
			<li><a href="#tab1">Cadastro</a></li>
			<li><a href="#tab2">Procurar Livros</a></li>
			<li><a href="#tab3">Meus Empréstimos</a></li>
		</ul>
		
		<!Primeira aba>
		<div id="tab1">						
			<form enctype="multipart/form-data" method="post" action="">
			
				{% csrf_token %}
				
				<div class="result" class="messages">
					<h4>{{ result }}</h4>			
					<h4>{{ form.non_field_errors }}</h4>			
				</div>
								
				<div id="phones">	
					<h2>Telefones</h2>		
		
						<div id="phone_erros" class="messages">
							<h4>{{ form.ddd1.errors }}</h4>		
							<h4>{{ form.phone1.errors }}</h4>	
							<h4>{{ form.ddd2.errors }}</h4>			
							<h4>{{ form.phone2.errors }}</h4>
							<h4>{{ form.ddd3.errors }}</h4>	
							<h4>{{ form.phone3.errors }}</h4>	
							<h4>{{ form.ddd4.errors }}</h4>	
							<h4>{{ form.phone4.errors }}</h4>	
						</div>
						
						<table>
							<tr>
								<td><p>Contato (1):</p></td>
								<td><p>{{form.ddd1}} {{ form.phone1 }}</p></td>
								<td><p>Contato (2):</p></td>
								<td><p>{{form.ddd2}} {{ form.phone2 }}</p></td>
							</tr>
								<td><p>Contato (3):</p></td>
								<td><p>{{form.ddd3}} {{ form.phone3 }}</p></td>
								<td><p>Contato (4):</p></td>
								<td><p>{{form.ddd4}} {{ form.phone4 }}</p></td>
							<tr>
							</tr>
						</table>
				</div>
				
				<div id="address">
									
					<h2>Endereço</h2>	
					
						<div id="adress_erros" class="messages">		
							<h4>{{ form.street.errors }}</h4>		
							<h4>{{ form.number.errors }}</h4>	
							<h4>{{ form.complement.errors }}</h4>			
							<h4>{{ form.zipcode.errors }}</h4>	
							<h4>{{ form.neighborhood.errors }}</h4>	
						</div>		
								
						<p>(*) Rua: {{ form.street }}</p>	
						<p>(*) Número: {{ form.number }}</p>
						<p>Complemento: {{ form.complement }}</p>
						<p>(*) Bairro: {{ form.neighborhood }}</p>
						<p>(*) CEP: {{ form.zipcode }}</p>			
				</div>
				
				<div id="div_save" class="tab_save_button">
					<input id="button_save" type="submit" value="Salvar" />
				</div>
				
			</form>
    	</div>
    	
    	<! Segunda aba>
		<div id="tab2">
		
			<table id="search_books">
				<tr>
					<td>Nome:</td>
					<td><input type="text" id="name" name="name" maxlength="20" size="40" /></td>
				</tr>
				<tr>
					<td>Autor:</td>
					<td><input type="text" id="author" name="author" maxlength="20" size="40" /></td>
				</tr>
				<tr>
					<td>Editora:</td>
					<td><input type="text" id="publisher" name="publisher" maxlength="20" size="40" /></td>
				</tr>			
			</table>
			
			<div id="div_search" class="tab_search_button">			
				<input id="button_search" type="submit" value="Procurar" />
			</div>
			
			<div id="msg_tab2"></div>
			
			<table id="table_books"></table>
			<div id="bbooks"></div>
			
    	</div>
    	
    	<! Terceira aba>
    	<div id="tab3">
    	
    		<div id="msg_tab3"></div>
    	
			<table id="table_user_loans"></table>
			<div id="bloans"></div>
			
    	</div>    	
    			
	</div>
{% endblock conteudo %}