<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

<head>
	<title>Lar de Mistrael</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/outside_layout.css"/>
	{% block style %}
	{% endblock style %}
</head>

<body>
	<div id="container">
		<div id="header">
			<div id="header_content">	
				<h1>LAR DE MISTRAEL</h1>
			</div>
		</div>
		<div id="center">
		
			<div id="right">
				{% block conteudo %}
				{% endblock conteudo %}
			</div>
							
			<div id="left">	
				<p><img src="{{MEDIA_URL}}img/livro.bmp" /></p>		
			</div>
			
			<div style="clear: both;"></div>
			
		</div>
		<div id="footer">
			<div id="footer_content">
				<p>GILBi - Sistema de Gestão Integrada de Livraria e Biblioteca</p>
			</div>		
		</div>					
	</div>
</body>

</html>