{% extends "outside_base.html" %}

{% block conteudo %}
	<form method="post" action="">
	
		{% csrf_token %}
		
		<div id="recover_password">	
			<h2>Recuperar senha</h2>

			<br /><br />Insira o seu e-mail abaixo que enviaremos uma mensagem contendo um link
			para redefinição de sua senha.<br /><br />

			<h4>{{ result_operation }}</h4>			
			<h4>{{ form.non_field_errors }}</h4>
			<h4>{{ form.email.errors }}</h4>
			
			<p>(*) E-mail: {{ form.email }}</p>			
			
			<input type="submit" value="OK" /><br /><br />
						
		</div>
		
	</form>

{% endblock %}
