{% extends "inside_base.html" %}

{% block script %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/custom/bookstore/bookstore.js"></script>
	
	<script type="text/javascript">
		$(function() {
			$('#tabs').tabs(); // Criar as Tabs
			$('#button_search_tab1').button(); // Botao Procurar da Tab1
			$('#button_add_tab1').button(); // Botao Salvar da Tab1
			$('#button_search_tab2').button(); // Botao Procurar da Tab2
			$('#button_add_tab2').button(); // Botao Salvar da Tab2
			$('#button_cancel_tab3').button(); // Botao Cancelar da Tab3

			Bookstore.Functions.init();
		}); 
	</script>
{% endblock script %}

{% block conteudo %}
	<h2>Livraria do Lar de Mistrael</h2>
	
	<div id="tabs">
		<ul>
			<li><a href="#tab1">Adicionar Livros aos Favoritos</a></li>
			<li><a href="#tab2">Encomendar Livros</a></li>
			<li><a href="#tab3">Minhas Encomendas</a></li>
		</ul>
		
		<!Primeira aba>
		<div id="tab1">
			<table id="favorite_books">
				<tr>
					<td>Nome:</td>
					<td><input type="text" id="name_tab1" name="name" maxlength="20" size="40" /></td>
				</tr>
				<tr>
					<td>Autor:</td>
					<td><input type="text" id="author_tab1" name="author" maxlength="20" size="40" /></td>
				</tr>
				<tr>
					<td>Editora:</td>
					<td><input type="text" id="publisher_tab1" name="publisher" maxlength="20" size="40" /></td>
				</tr>			
			</table>

			<div id="div_search_tab1" class="tab_search_button">			
				<input id="button_search_tab1" type="submit" value="Procurar" />
			</div>
			
			<div id="msg_tab1"></div>
			
			<table id="table_favorites"></table>
			<div id="bfavorites"></div>
			
			<div id="div_add_tab1" class="tab_save_button">	
				<input id="button_add_tab1" type="submit" value="Adicionar aos Favoritos" />
			</div>
    	</div>
    	
    	<! Segunda aba>
		<div id="tab2">
			<table id="order_books">
				<tr>
					<td>Nome:</td>
					<td><input type="text" id="name_tab2" name="name" maxlength="20" size="40" /></td>
				</tr>
				<tr>
					<td>Autor:</td>
					<td><input type="text" id="author_tab2" name="author" maxlength="20" size="40" /></td>
				</tr>
				<tr>
					<td>Editora:</td>
					<td><input type="text" id="publisher_tab2" name="publisher" maxlength="20" size="40" /></td>
				</tr>			
			</table>

			<div id="div_search_tab2" class="tab_search_button">			
				<input id="button_search_tab2" type="submit" value="Procurar" />
			</div>
			
			<div id="msg_tab2"></div>
			
			<p>Quantidade de livros a encomendar: <input type="text" id="quantity" name="quantity" maxlength="2" size="5" /></p>
			
			<table id="table_orders"></table>
			<div id="borders"></div>
			
			<div id="div_add_tab2" class="tab_save_button">	
				<input id="button_add_tab2" type="submit" value="Encomendar Livro" />
			</div>
    	</div>
    	
    	<! Terceira aba>
		<div id="tab3">
			<div id="msg_tab3"></div>
		
			<table id="table_user_orders"></table>
			<div id="bmyorders"></div>
			
			<br />
			<h3>Situações:</h3>
			<p>Solicitada: pedido de encomenda enviado ao gerente</p>
			<p>Cancelada: usuário desestiu de comprar esse livro</p>
			<p>Aceita: pedido de encomenda autorizado pelo gerente</p>
			<p>Rejeitada: pedido de encomenda não autorizado pelo gerente</p>
			<p>Disponível: encomenda na Livraria disponível para compra</p>
			<p>Vendida: encomenda já foi comprada pelo usuário</p>
						
			<div id="div_cancel_tab3" class="tab_save_button">	
				<input id="button_cancel_tab3" type="submit" value="Cancelar Encomenda" />
			</div>
    	</div>    	
    			
	</div>
{% endblock conteudo %}