{% extends "inside_base.html" %}

{% block script %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/custom/bookstore/purchase_order.js"></script>
	
	<script type="text/javascript">
		$(function() {
			$('#tabs').tabs();
			// TODO: Melhorar isso
			$('#button_add_book, #button_accept_book, #button_reject_book, #button_remove_item, #button_save_purchase_order').button();

			PurchaseOrder.Functions.init();
		}); 
	</script>
{% endblock script %}


{% block conteudo %}
	<h2>Pedido de Compra</h2>
	
	<div id="tabs">
		<ul>
			<li><a href="#tab1">Novo Pedido</a></li>
			<li><a href="#tab2">Visualizar</a></li>
		</ul>
		
		{# Primeira aba #}
		<div id="tab1">	
					
			<h2>Adicionar livro ao Pedido de Compra</h2>
											
			<div class="message_container"></div>
			
			<ol class="fields">
				<li>
					<label for="id_book">Livro:</label>
					{{ form_purchase_item.book }}
				</li>	
				<li>
					<label for="id_quantity">Quantidade:</label>
					{{ form_purchase_item.quantity }}
				</li>
			</ol>
			
			<div id="div_add_book" class="tab_search_button">
                <input id="button_add_book" type="button" value="Adicionar" />
            </div>
                 
                 
			<h2>Adicionar encomenda ao Pedido de Compra</h2>       
			
			<div id="div_book_order_actions" class="tab_search_button">
                <input id="button_accept_book" type="button" value="Aceitar" />
                <input id="button_reject_book" type="button" value="Rejeitar" />
            </div> 
            
            
            <h2>Itens do Pedido de Compra</h2>       
			            
            <table id="table_purchase_items"></table>

			<div id="div_purchase_order_actions" class="tab_search_button">
                <input id="button_remove_item" type="button" value="Remover Item" />
                <input id="button_save_purchase_order" type="button" value="Salvar" />
            </div>
				
    	</div>
    	
    	{# Segunda aba #}
		<div id="tab2">	
											
			<div class="message_container"></div>
			   		
    	</div>   	
    			
	</div>
{% endblock conteudo %}