{% extends "inside_base.html" %}

{% block script %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/custom/financial/generate_sale_report.js"></script>
    
    <script type="text/javascript">
        $(function() {
        	$.datepicker.setDefaults( $.datepicker.regional["pt-BR"] );        
            $('#button_generate').button(); 
            $('#id_initial_date').datepicker();
            $('#id_ending_date').datepicker();
            GenerateSaleReport.Functions.init();
        }); 
    </script>
{% endblock script %}

{% block conteudo %}
	<h2>Relatório de Livros Vendidos</h2>	
		
	<div id="sale_report">	
	
		<div class="message_container"></div>		
		
		<ol class="fields">
			<li>
				<label>(*) Data Inicial:</label>
				{{ form.initial_date }}
			</li>
			<li>
				<label>(*) Data Final:</label>
				{{ form.ending_date }}
			</li>
		</ol>
						
	</div>
	
    <div id="div_generate" class="tab_save_button">
        <input id="button_generate" type="submit" value="Gerar Relatório" />
    </div> 
    
    <table id="table_sales_report"></table>

    <div id="total_of_sales" class="contacts">        
        <div>
            <span class="title">Total de livros vendidos:</span>
            <span id="total_price" class="content"></span>
        </div>  
    </div>  
      
	<br /><br />
{% endblock %}